/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 28, 2020, 9:06:34 PM
    Author     : Ramesh Godara
*/
.parent {
    -fx-background-color: #fff
}
.sidebar {
    -fx-background-color: #808080
}
.bt {
    -fx-background-color: transparent
}
.bt:hover {
    -fx-background-color: darkseagreen 
}
.box {
    
}
.table-cell {
    -fx-alignment: CENTER;
}
.table-cell:selected {
    -fx-background-color: #404040;
    -fx-text-fill: white;
}
.bootstrap-alert {
    -fx-background-color: #fcf8e3; /* Bootstrap warning background color */
    -fx-border-color: #faebcc; /* Bootstrap warning border color */
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

/* Normal state styles */
.normal-choice-box {
    -fx-background-color: white;
}

.normal-date-picker {
    -fx-background-color: white;
}

.normal-table {
    -fx-background-color: white;
}

/* Error state styles */
.error-choice-box {
    -fx-background-color: white;
    -fx-border-color: #DC143C;
    -fx-border-radius: 3px;
}

.error-date-picker {
    -fx-background-color: #DC143C;
}
.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.error-table {
    -fx-background-color: #97233F;
}
.button-bottom {
    -fx-background-color:  #fff;
    -fx-border-width: 1px;
    -fx-border-color: #404040;
    -fx-border-radius: 3px;
    /*-fx-text-fill: #f0f0f0;*/
}

